.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: $spacing-xxxl;
    padding-bottom: $spacing-xl;
    min-height: 50vh;
    text-align: center;
    background: $gradient-primary;

    @include mq($mq-tab--sml) {
        padding-bottom: 0;
    }
}
