.site-nav {
    z-index: 1000000000000;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-black;
    box-shadow: $morphism-dark;

    @include mq($mq-tab--sml) {
        right: auto;
        left: 50%;
        min-width: $container-content;
        transform: translateX(-50%);
        border-top-left-radius: $border-radius-lrg;
        border-top-right-radius: $border-radius-lrg;
    }

    &__items {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        flex: 1;
        position: relative;
        display: flex;
        justify-content: center;
        padding: $spacing-med $spacing-xs;
        transition: background-color $transition-timing-fast $transition-easing-cubic;

        &:hover,
        &:focus {
            background-color: $color-gray-darkest;
        }

        &[data-is-active='true'] {
            background: $gradient-primary;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 0;
        text-align: center;
        color: $color-white;
        text-transform: capitalize;
        transition: transform $transition-timing-fast $transition-easing-cubic;

        .site-nav__item:hover &,
        .site-nav__item:focus & {
            transform: translateY($spacing-xs);
            font-size: initial;
        }
    }

    &__icon {
        fill: $color-white;
        pointer-events: none;
        transition: transform $transition-timing-fast $transition-easing-cubic;

        .site-nav__item:hover &,
        .site-nav__item:focus & {
            transform: translateY($spacing-xs);
        }
    }
}
