// Default fades
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// Fancy fades
@each $label, $transform in $fades {
    @keyframes #{$label} {
        0% {
            transform: translate3d($transform, 0);
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}
