.site-header {
    padding: $spacing-lrg 0;
    max-width: $container-lrg;

    &[data-has-generic-site-header='true'] + main {
        margin-top: $spacing-xxxl;
    }

    &__heading-wrapper {
        @include mq($mq-tab--lrg) {
            display: flex;
            align-items: center;
        }
    }

    &__heading {
        @include text-xxl;
        @include colored-text;

        @include mq($mq-tab--lrg) {
            @include text-jumbo;
        }
    }

    .fancy-image-block {
        width: 80%;
        z-index: -1;
        transform-origin: center left;
        transform: scale3d(2.5, 2.5, 2.5);
        opacity: 0;
        animation: fade-in $transition-timing-slow $transition-timing-slow $transition-easing-cubic forwards;
    }
}
