.tag {
    white-space: nowrap;
    border-radius: $border-radius-lrg;
    background: $gradient-primary;

    + .tag {
        margin-left: $spacing-sml;

        @supports (gap: $spacing-med) {
            margin-left: 0;
        }
    }

    &__link {
        display: inline-block;
        padding: $spacing-xs;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: $spacing-lrg 0;

        &[data-scrollable='true'] {
            flex-wrap: nowrap;
            max-width: 100%;
            overflow: auto;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */

            &::-webkit-scrollbar {
                display: none;  /* Safari and Chrome */
            }
        }

        &[data-alignment='left'] {
            justify-content: flex-start;
        }

        &[data-alignment='right'] {
            justify-content: flex-end;
        }

        @supports (gap: $spacing-sml) {
            gap: $spacing-sml;
        }
    }
}
