html {
    background-color: $color-gray-darkest;
    overflow-x: hidden;
}

body,
#__next {
    min-height: 100vh;
}

body {
    -webkit-font-smoothing: antialiased;
    padding-bottom: $spacing-xxxl;

    &::before {
        z-index: -1;
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $gradient-dark;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

svg {
    width: $spacing-med;
}

/*
    This will hide the focus indicator if the element receives focus via the mouse,
    but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
