/* COLORS */
$color-primary: #56cc71;
$color-primary-dark: darken(#56cc71, 5%);

/* COLOR GRAY */
$color-white: #fff;
$color-black: #222;

$color-gray: #8d9297;
$color-gray-light: lighten($color-gray, 10%);
$color-gray-lighter: lighten($color-gray, 20%);
$color-gray-lightest: lighten($color-gray, 30%);
$color-gray-dark: darken($color-gray, 10%);
$color-gray-darker: darken($color-gray, 20%);
$color-gray-darkest: darken($color-gray, 40%);

/* GRADIENTS */
$gradient-dark: linear-gradient(45deg, $color-black, $color-gray-darkest);

/* MORPHISMS */
$morphism-dark: inset -3px -3px 7px $color-black, inset 3px 3px 5px $color-gray-darkest;
