.resume-work-experience {
    &__item {
        + .resume-work-experience__item {
            margin-top: $spacing-xl;
            padding-top: $spacing-xl;
            border-top: 1px solid $color-gray-darker;
        }

        &-heading {
            @include text-coloured;
            display: flex;
            align-items: center;
            margin-bottom: $spacing-xs;

            svg {
                width: $spacing-sml;
                fill: rgba($color-primary, 0.5);
            }
        }

        &-roles {
            margin-bottom: $spacing-med;
        }

        &-roles-item {
            margin-bottom: $spacing-sml;
        }

        &-role {
            margin: 0;
            font-weight: $font-weight-bold;

            .resume-work-experience__item-roles-item[data-is-latest='false'] & {
                @include text-xs;
                color: $color-gray-dark;
            }
        }

        &-date,
        &-location {
            color: $color-gray;

            .resume-work-experience__item-roles-item[data-is-latest='false'] & {
                @include text-xs;
                color: $color-gray-darker;
            }
        }

        &-date {
            &[data-is-present='true'] {
                color: $color-white;
            }
        }

        &-body {
            @extend .article__body;

            ul,
            ol {
                list-style-type: disc;
            }
        }
    }
}
