.resume-education {
    &__item {
        + .resume-education__item {
            margin-top: $spacing-xl;
            padding-top: $spacing-xl;
            border-top: 1px solid $color-gray-darker;
        }

        &-heading {
            @include text-coloured;
            display: inline-flex;
            align-items: center;
            margin: 0;

            svg {
                width: $spacing-sml;
                fill: rgba($color-primary, 0.5);
            }
        }

        &-duration {
            @include text-xs;
            margin: 0;
            margin-bottom: $spacing-sml;
            color: $color-gray-dark;
        }

        &-study {
            margin-bottom: $spacing-xs;
        }

        &-date,
        &-location {
            color: $color-gray;
        }

        &-date {
            &[data-is-present='true'] {
                color: $color-white;
            }
        }

        &-body {
            @extend .article__body;

            ul,
            ol {
                list-style-type: disc;
            }
        }
    }
}
