.article-teaser {
    position: relative;
    display: flex;
    flex-direction: column;

    &__header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: $spacing-xxxl;
        padding: $spacing-sml;
        overflow: hidden;
        text-align: right;

        @supports (mask: url('/img/shapes/blob-2.svg')) {
            padding: $spacing-xxl 0;
            margin-left: -$spacing-xs !important;
            margin-bottom: -$spacing-xl !important;
        }
    }

    &__hero {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @supports (mask: url('/img/shapes/blob-2.svg')) {
            mask: url('/img/shapes/blob-1.svg');
            mask-size: cover;
            mask-position: 25%;

            @include mq($mq-tab--sml) {
                mask-position: 0;
            }

            .article-teasers__item:nth-of-type(2n) & {
                mask: url('/img/shapes/blob-2.svg');
            }

            .article-teasers__item:nth-of-type(3n) & {
                mask: url('/img/shapes/blob-3.svg');
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.4;
            background: $gradient-primary;
        }
    }

    &__hero-image {
        width: 100%;
        height: 100%;
        margin: 0;
        object-fit: cover;
        object-position: bottom;
    }

    &__title,
    &__date {
        z-index: 1;
        color: $color-white;
    }

    &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 0;
    }
}
