.hljs {
    margin: $spacing-xs 0;
    padding: $spacing-med;
    background-color: $color-gray-darkest !important;
}

p,
li {
    > code {
        margin: 0 $spacing-xxs;
        padding: 0 $spacing-xxs;
        opacity: 0.8;
        border-radius: $border-radius-sml;
        color: $color-primary-dark;
        background: $color-gray-darkest;
    }
}
